  <h1 class="mb-4 text-white">Tech Blog Posts</h1>
  <div class="row">
    {{#each blogs}}
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-header bg-warning">
            <h2 class="card-title">
              <a href="/post/{{id}}" class="text-dark">{{title}}</a>
            </h2>
          </div>
          <div> {{description}}</div>
          <div class="card-body text-dark">
            <p>Created by: {{user.username}} Date: {{format_date date_created}}</p>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
